* {
  font-family: "Roboto", sans-serif;
  font: inherit;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.bgcolor.scrolled {
  background-color: black;
}

.index-header {
  height: 100vh;
  background-image: url(../img/william-thomas-ny6tO4ItOEY-unsplash-min.jpg);
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-position: center center !important;
  z-index: auto;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
}
.index-header div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.index-header div .index-header-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 4em;
  text-align: center;
  color: hsl(0deg, 0%, 100%);
}
.index-header div button {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  text-align: center;
  color: hsl(0deg, 0%, 100%);
  background-color: rgba(0, 0, 0, 0);
  border: 0.25em solid hsl(0deg, 0%, 100%);
  border-radius: 0px;
  transition: all 0.1s ease-out 0s;
}
.index-header div button:hover {
  background-color: hsl(0deg, 0%, 100%);
  border: 0.25em solid hsl(0deg, 0%, 100%);
  color: hsl(0deg, 0%, 0%);
}

.index-main {
  height: 100vh;
}
@media screen and (max-width: 62em) {
  .index-main {
    height: 150vh;
  }
}
.index-main .about-me-pic {
  margin-top: 4.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.index-main .about-me-pic img {
  height: 31.25em;
  border-radius: 0.5em;
}
@media screen and (max-width: 62em) {
  .index-main .about-me-pic img {
    height: 21.875em;
  }
}
@media screen and (max-width: 48em) {
  .index-main .about-me-pic img {
    height: 17.5em;
  }
}
.index-main .about-me-text {
  margin-top: 4.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 62em) {
  .index-main .about-me-text {
    margin-top: 0;
    width: 100vw;
    margin-top: 3.4375em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
.index-main .about-me-text .text-container {
  width: 70%;
}
.index-main .about-me-text .text-container h2 {
  letter-spacing: 0.1em;
  font-size: 40px;
  line-height: 47px;
}
@media screen and (max-width: 62em) {
  .index-main .about-me-text .text-container h2 {
    text-align: center;
  }
}
.index-main .about-me-text .text-container p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.3em;
  letter-spacing: 0.15em;
  color: hsl(0deg, 0%, 38%);
}
@media screen and (max-width: 62em) {
  .index-main .about-me-text .text-container p {
    text-align: center;
  }
}

.gallery-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gallery-title .mis-proyectos {
  margin-top: 4.5em;
  height: 11.75em;
  background-color: hsl(356deg, 83%, 41%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gallery-title .mis-proyectos h2 {
  color: hsl(0deg, 0%, 100%);
  letter-spacing: 0.1em;
  font-weight: 300;
  font-size: 48px;
}
@media screen and (max-width: 62em) {
  .gallery-title .mis-proyectos h2 {
    font-size: 36px;
  }
}

.galeria {
  background-color: hsl(0deg, 0%, 96%);
}
.galeria .section1 .flower-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 5%;
}
@media screen and (max-width: 62em) {
  .galeria .section1 .flower-text-container {
    height: 350px;
  }
}
.galeria .section1 .flower-text-container .flower-title {
  width: 100%;
}
.galeria .section1 .flower-text-container .flower-title h3 {
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0.13em;
}
@media screen and (max-width: 62em) {
  .galeria .section1 .flower-text-container .flower-title h3 {
    text-align: center;
  }
}
.galeria .section1 .flower-text-container .flower-p p {
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.1em;
  color: hsl(0deg, 0%, 38%);
}
@media screen and (max-width: 62em) {
  .galeria .section1 .flower-text-container .flower-p p {
    text-align: center;
  }
}
.galeria .section1 .button-container {
  width: 100%;
}
@media screen and (max-width: 62em) {
  .galeria .section1 .button-container {
    text-align: center;
  }
}
.galeria .section1 .button-container .seguir-leyendo {
  background-color: hsl(356deg, 83%, 41%);
  border-color: hsl(356deg, 83%, 41%);
  border-radius: 0;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.1em;
}
.galeria .section2 .feli-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 5%;
}
@media screen and (max-width: 62em) {
  .galeria .section2 .feli-text-container {
    height: 350px;
  }
}
.galeria .section2 .feli-text-container .feli-title {
  width: 100%;
}
.galeria .section2 .feli-text-container .feli-title h3 {
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0.13em;
}
@media screen and (max-width: 62em) {
  .galeria .section2 .feli-text-container .feli-title h3 {
    text-align: center;
  }
}
.galeria .section2 .feli-text-container .feli-p p {
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.1em;
  color: hsl(0deg, 0%, 38%);
}
@media screen and (max-width: 62em) {
  .galeria .section2 .feli-text-container .feli-p p {
    text-align: center;
  }
}
.galeria .section2 .button-container {
  width: 100%;
}
@media screen and (max-width: 62em) {
  .galeria .section2 .button-container {
    text-align: center;
  }
}
.galeria .section2 .button-container .seguir-leyendo {
  background-color: hsl(356deg, 83%, 41%);
  border-color: hsl(356deg, 83%, 41%);
  border-radius: 0;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.1em;
}
.galeria .section3 .fotografos-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 5%;
}
@media screen and (max-width: 62em) {
  .galeria .section3 .fotografos-text-container {
    height: 350px;
  }
}
.galeria .section3 .fotografos-text-container .fotografos-title {
  width: 100%;
}
.galeria .section3 .fotografos-text-container .fotografos-title h3 {
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0.13em;
}
@media screen and (max-width: 62em) {
  .galeria .section3 .fotografos-text-container .fotografos-title h3 {
    text-align: center;
  }
}
.galeria .section3 .fotografos-text-container .fotografos-p p {
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.1em;
  color: hsl(0deg, 0%, 38%);
}
@media screen and (max-width: 62em) {
  .galeria .section3 .fotografos-text-container .fotografos-p p {
    text-align: center;
  }
}
.galeria .section3 .button-container {
  width: 100%;
}
@media screen and (max-width: 62em) {
  .galeria .section3 .button-container {
    text-align: center;
  }
}
.galeria .section3 .button-container .seguir-leyendo {
  background-color: hsl(356deg, 83%, 41%);
  border-color: hsl(356deg, 83%, 41%);
  border-radius: 0;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.1em;
}

.contact {
  height: 50vh;
}
.contact .contact-title {
  background-color: hsl(0deg, 0%, 88%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact .contact-title h4 {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.13em;
}
.contact .contact-links-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5%;
}
.contact .contact-links-1 .instagram {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact .contact-links-1 .instagram .instagram-title {
  display: flex;
}
.contact .contact-links-1 .instagram .instagram-title img {
  height: 24px;
}
.contact .contact-links-1 .instagram .instagram-title h5 {
  padding-left: 4px;
  font-weight: 300;
  font-size: 22px;
  line-height: 23px;
  letter-spacing: 0.13em;
  -webkit-text-decoration: 0.5px underline black;
          text-decoration: 0.5px underline black;
}
.contact .contact-links-1 .instagram .instagram-links {
  display: flex;
  flex-direction: column;
}
.contact .contact-links-1 .instagram .instagram-links a {
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.13em;
  color: hsl(0deg, 0%, 38%);
  transition: all 0.2s ease 0s;
}
.contact .contact-links-1 .instagram .instagram-links a:hover {
  color: hsl(0deg, 0%, 0%);
  font-weight: 400;
}
.contact .contact-links-1 .twitter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}
.contact .contact-links-1 .twitter .twitter-title {
  display: flex;
}
.contact .contact-links-1 .twitter .twitter-title img {
  height: 24px;
}
.contact .contact-links-1 .twitter .twitter-title h5 {
  padding-left: 4px;
  font-weight: 300;
  font-size: 22px;
  line-height: 23px;
  letter-spacing: 0.13em;
  -webkit-text-decoration: 0.5px underline black;
          text-decoration: 0.5px underline black;
}
.contact .contact-links-1 .twitter .twitter-links {
  display: flex;
  flex-direction: column;
}
.contact .contact-links-1 .twitter .twitter-links a {
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.13em;
  color: hsl(0deg, 0%, 38%);
  transition: all 0.2s ease 0s;
}
.contact .contact-links-1 .twitter .twitter-links a:hover {
  color: hsl(0deg, 0%, 0%);
  font-weight: 400;
}
.contact .contact-links-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5%;
}
.contact .contact-links-2 .email {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact .contact-links-2 .email .email-title {
  display: flex;
}
.contact .contact-links-2 .email .email-title img {
  height: 24px;
}
.contact .contact-links-2 .email .email-title h5 {
  padding-left: 4px;
  font-weight: 300;
  font-size: 22px;
  line-height: 23px;
  letter-spacing: 0.13em;
  -webkit-text-decoration: 0.5px underline black;
          text-decoration: 0.5px underline black;
}
.contact .contact-links-2 .email .email-links {
  display: flex;
  flex-direction: column;
}
.contact .contact-links-2 .email .email-links a {
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.13em;
  color: hsl(0deg, 0%, 38%);
  transition: all 0.2s ease 0s;
}
.contact .contact-links-2 .email .email-links a:hover {
  color: hsl(0deg, 0%, 0%);
  font-weight: 400;
}
.contact .contact-links-2 .ubicacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}
.contact .contact-links-2 .ubicacion .ubicacion-title {
  display: flex;
}
.contact .contact-links-2 .ubicacion .ubicacion-title img {
  height: 24px;
}
.contact .contact-links-2 .ubicacion .ubicacion-title h5 {
  padding-left: 4px;
  font-weight: 300;
  font-size: 22px;
  line-height: 23px;
  letter-spacing: 0.13em;
  -webkit-text-decoration: 0.5px underline black;
          text-decoration: 0.5px underline black;
}
.contact .contact-links-2 .ubicacion .ubicacion-links {
  display: flex;
  flex-direction: column;
}
.contact .contact-links-2 .ubicacion .ubicacion-links a {
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.13em;
  color: hsl(0deg, 0%, 38%);
  transition: all 0.2s ease 0s;
}
.contact .contact-links-2 .ubicacion .ubicacion-links a:hover {
  color: hsl(0deg, 0%, 0%);
  font-weight: 400;
}
.contact .contact-links-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5%;
}
.contact .contact-links-3 .wpp {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact .contact-links-3 .wpp .wpp-title {
  display: flex;
}
.contact .contact-links-3 .wpp .wpp-title img {
  height: 24px;
}
.contact .contact-links-3 .wpp .wpp-title h5 {
  padding-left: 4px;
  font-weight: 300;
  font-size: 22px;
  line-height: 23px;
  letter-spacing: 0.13em;
  -webkit-text-decoration: 0.5px underline black;
          text-decoration: 0.5px underline black;
}
.contact .contact-links-3 .wpp .wpp-links {
  display: flex;
  flex-direction: column;
}
.contact .contact-links-3 .wpp .wpp-links a {
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.13em;
  color: hsl(0deg, 0%, 38%);
  transition: all 0.2s ease 0s;
}
.contact .contact-links-3 .wpp .wpp-links a:hover {
  color: hsl(0deg, 0%, 0%);
  font-weight: 400;
}

@media screen and (max-width: 1220px) {
  .contact .contact-title h4 {
    font-size: 36px;
  }
}
@media screen and (max-width: 62em) {
  .contact .contact-title {
    height: 250px;
    text-align: center;
  }
  .contact .contact-links-1 .instagram .instagram-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  .contact .contact-links-1 .instagram .instagram-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact .contact-links-1 .instagram .instagram-links a {
    transition: all 0.2s ease 0s;
  }
  .contact .contact-links-1 .instagram .instagram-links a:hover {
    color: hsl(0deg, 0%, 0%);
    font-weight: 400;
  }
  .contact .twitter .twitter-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact .twitter .twitter-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact .twitter .twitter-links a {
    transition: all 0.2s ease 0s;
  }
  .contact .twitter .twitter-links a:hover {
    color: hsl(0deg, 0%, 0%);
    font-weight: 400;
  }
  .contact .contact-links-2 .email .email-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  .contact .contact-links-2 .email .email-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact .contact-links-2 .email .email-links a {
    transition: all 0.2s ease 0s;
  }
  .contact .contact-links-2 .email .email-links a:hover {
    color: hsl(0deg, 0%, 0%);
    font-weight: 400;
  }
  .contact .contact-links-2 .ubicacion .ubicacion-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact .contact-links-2 .ubicacion .ubicacion-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact .contact-links-2 .ubicacion .ubicacion-links a {
    transition: all 0.2s ease 0s;
  }
  .contact .contact-links-2 .ubicacion .ubicacion-links a:hover {
    color: hsl(0deg, 0%, 0%);
    font-weight: 400;
  }
  .contact .contact-links-3 .wpp .wpp-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  .contact .contact-links-3 .wpp .wpp-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
  .contact .contact-links-3 .wpp .wpp-links a {
    transition: all 0.2s ease 0s;
  }
  .contact .contact-links-3 .wpp .wpp-links a:hover {
    color: hsl(0deg, 0%, 0%);
    font-weight: 400;
  }
}/*# sourceMappingURL=style.css.map */