@use "../sass/colors" as *;
@use "../sass/fonts" as *; 
@use "../sass/components" as *;
@use "../sass/sizing" as *;
@use "../sass/mixins" as *;
@use "../sass/transitions" as *;


* {
    font-family: $ff-main;
    font: inherit;
    scroll-behavior: smooth;
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  // border: 1px solid red;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
// @media (prefers-reduced-motion: reduce) {
//   html:focus-within {
//    scroll-behavior: auto;
//   }
  
//   *,
//   *::before,
//   *::after {
//     animation-duration: 0.01ms !important;
//     animation-iteration-count: 1 !important;
//     transition-duration: 0.01ms !important;
//     scroll-behavior: auto !important;
//   }
// }
// NAVBAR
nav {
  #navbarSupportedContent {
      transition: all 0.2s ease 0s;
  }
}
.bgcolor.scrolled {
  background-color: black !important;
}
.nav_logo {
  padding-left: 5px !important;
}
.nav-item{
  margin-left: 15px;
  margin-right: 15px;
}
.nav_link {
  // margin-left:15px;
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.nav-contacto {
  background-color: $clr-accent-dark;
}
/* Remove border from toggler */
.navbar-toggler {
  border: 0 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 0 !important;
}

/* Lines of the Toggler */
.toggler-icon{
  width: 30px;
  height: 3px;
  background-color: $clr-accent-dark;
  display: block;
  transition: all 0.2s;
}

/* Adds Space between the lines */
.middle-bar{
  margin: 5px auto;
}

/* State when navbar is opened (START) */
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
/* State when navbar is opened (END) */

/* State when navbar is collapsed (START) */
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}
/* State when navbar is collapsed (END) */

/* Color of Toggler when collapsed */
.navbar-toggler.collapsed .toggler-icon {
  background-color: #777777;
}


// INDEX HEADER
.index-header {
  height: $h-100;
  background-image: url(../img/william-thomas-ny6tO4ItOEY-unsplash-min.jpg);
  @include img_dft_config(fixed);
  div {
    @include flex-col-cen-cen;
    .index-header-title {
      @include index-title-mobile;
    }
    button {
      @include index-h-button-mobile;
      .index-button {
        text-decoration: none;
        color: $clr-main-light;
        transition: all 0.2s ease 0s;
        &:hover {
          color: black;
        }
      }
    }
  }
}

// INDEX MAIN ABOUT-ME
.index-main {
  height: $h-100;
  @media screen and (max-width: 62em){
    height: 150vh;
  }

  .about-me-pic {
    margin-top: $m-nv;
    @include flex-custom(column, center, center);
    img {
      height: $h-am-d;
      border-radius: 0.5em;
      @media screen and (max-width: 62em){
        height: $h-am-t;
      }
      @media screen and (max-width: 48em){
        height: $h-am-m;
      }
    }
  }
  .about-me-text {
    margin-top: $m-nv;
    @include flex-custom(column, center, center);
    @media screen and (max-width: 62em){
      margin-top: 0;
      width: $w-100;
      margin-top: $m-nv-m;
      @include flex-custom(column, flex-start, center)
    }
    .text-container {
      width: 70%;
      h2 {
        letter-spacing: 0.1em;
        font-size: 40px;
        line-height: 47px;
        @media screen and (max-width: 62em){
          text-align: center;
        }
      }
      p {
        font-size: 16px;
        font-weight: $fw-300;
        line-height: 1.3em;
        letter-spacing: 0.15em;
        color: $clr-main-semi-dark;
        
        @media screen and (max-width: 62em){
          text-align: center;
        }
      }
    }
  }
}
// GALLERY TITLE
.gallery-title {
  @include flex-col-cen-cen;
  .mis-proyectos {
    margin-top: $m-nv;
    height: 11.75em;
    background-color: $clr-accent-dark;
    @include flex-col-cen-cen;
    h2 {
      color: $clr-main-light;
      letter-spacing: .1em;
      font-weight: $fw-300;
      font-size: 48px;
      @media screen and (max-width: 62em){
        font-size: 36px;
      }
    }
  }
}
// GALLERY
.galeria {
  background-color: $clr-main-ultra-light;

  .section1 {
    .flower-text-container {
      @include flex-col-cen-cen;
      padding-left: 5%;

      @media screen and (max-width: 62em){
        height: 350px;
      }
      .flower-title {
        width: 100%;
        h3 {
          font-weight: $fw-700;
          font-size: 40px;
          letter-spacing: 0.13em;
          @media screen and (max-width: 62em){
            text-align: center;
          }
        }
      }
      .flower-p {
        p {
          font-weight: $fw-300;
          font-size: 16px;
          letter-spacing: 0.1em;
          color: $clr-main-semi-dark;
          @media screen and (max-width: 62em){
            text-align: center;
          }
        }
      }
    }
    .button-container {
      width: 100%;
      @media screen and (max-width: 62em){
        text-align: center;
      }
      .seguir-leyendo {
        background-color: $clr-accent-dark;
        border-color: $clr-accent-dark;
        border-radius: 0;
  
  
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        letter-spacing: 0.1em;
      }
    }
  }
  .section2 {
    .feli-text-container {
      @include flex-col-cen-cen;
      padding-left: 5%;

      @media screen and (max-width: 62em){
        height: 350px;
      }
      .feli-title {
        width: 100%;
        h3 {
          font-weight: $fw-700;
          font-size: 40px;
          letter-spacing: 0.13em;
          @media screen and (max-width: 62em){
            text-align: center;
          }
        }
      }
      .feli-p {
        p {
          font-weight: $fw-300;
          font-size: 16px;
          letter-spacing: 0.1em;
          color: $clr-main-semi-dark;
          @media screen and (max-width: 62em){
            text-align: center;
          }
        }
      }
    }
    .button-container {
      width: 100%;
      @media screen and (max-width: 62em){
        text-align: center;
      }
      .seguir-leyendo {
        background-color: $clr-accent-dark;
        border-color: $clr-accent-dark;
        border-radius: 0;
  
  
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        letter-spacing: 0.1em;
      }
    }
  }
  .section3 {
    .fotografos-text-container {
      @include flex-col-cen-cen;
      padding-left: 5%;

      @media screen and (max-width: 62em){
        height: 350px;
      }
      .fotografos-title {
        width: 100%;
        h3 {
          font-weight: $fw-700;
          font-size: 40px;
          letter-spacing: 0.13em;
          @media screen and (max-width: 62em){
            text-align: center;
          }
        }
      }
      .fotografos-p {
        p {
          font-weight: $fw-300;
          font-size: 16px;
          letter-spacing: 0.1em;
          color: $clr-main-semi-dark;
          @media screen and (max-width: 62em){
            text-align: center;
          }
        }
      }
    }
    .button-container {
      width: 100%;
      @media screen and (max-width: 62em){
        text-align: center;
      }
      .seguir-leyendo {
        background-color: $clr-accent-dark;
        border-color: $clr-accent-dark;
        border-radius: 0;
  
  
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        letter-spacing: 0.1em;
      }
    }
  }
}
// CONTACT
.contact {
  height: 50vh;
  .contact-title {
    background-color: $clr-main-contact;
    @include flex-col-cen-cen;
    h4 {
      font-weight: $fw-700;
      font-size: 48px;
      line-height: 56px;
      letter-spacing: 0.13em;
    }
  }
  .contact-links-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
    .instagram {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .instagram-title {
        display: flex;
        img {
          height: 24px;
        }
        h5 {
          padding-left: 4px;
          font-weight: $fw-300;
          font-size: 22px;
          line-height: 23px;
          letter-spacing: 0.13em;
          text-decoration: .5px underline black;
        }
      }
      .instagram-links {
        display: flex;
        flex-direction: column;
        a {
          font-weight: $fw-300;
          font-size: 18px;
          line-height: 25px;
          letter-spacing: 0.13em;
          color: $clr-main-semi-dark;
          transition: all 0.2s ease 0s;
            &:hover {
              color: $clr-main-dark;
              font-weight: $fw-400;
            }
        }
      }
    }
    .twitter {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 50px;
      .twitter-title {
        display: flex;
        img {
          height: 24px;
        }
        h5 {
          padding-left: 4px;
          font-weight: $fw-300;
          font-size: 22px;
          line-height: 23px;
          letter-spacing: 0.13em;
          text-decoration: .5px underline black;
        }
      }
      .twitter-links {
        display: flex;
        flex-direction: column;
        a {
          font-weight: $fw-300;
          font-size: 18px;
          line-height: 25px;
          letter-spacing: 0.13em;
          color: $clr-main-semi-dark;
          transition: all 0.2s ease 0s;
            &:hover {
              color: $clr-main-dark;
              font-weight: $fw-400;
            }
        }
      }
    }
  }
  .contact-links-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
    .email {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .email-title {
        display: flex;
        img {
          height: 24px;
        }
        h5 {
          padding-left: 4px;
          font-weight: $fw-300;
          font-size: 22px;
          line-height: 23px;
          letter-spacing: 0.13em;
          text-decoration: .5px underline black;
        }
      }
      .email-links {
        display: flex;
        flex-direction: column;
        a {
          font-weight: $fw-300;
          font-size: 18px;
          line-height: 25px;
          letter-spacing: 0.13em;
          color: $clr-main-semi-dark;
          transition: all 0.2s ease 0s;
            &:hover {
              color: $clr-main-dark;
              font-weight: $fw-400;
            }
        }
      }
    }
    .ubicacion {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 50px;
      .ubicacion-title {
        display: flex;
        img {
          height: 24px;
        }
        h5 {
          padding-left: 4px;
          font-weight: $fw-300;
          font-size: 22px;
          line-height: 23px;
          letter-spacing: 0.13em;
          text-decoration: .5px underline black;
        }
      }
      .ubicacion-links {
        display: flex;
        flex-direction: column;
        a {
          font-weight: $fw-300;
          font-size: 18px;
          line-height: 25px;
          letter-spacing: 0.13em;
          color: $clr-main-semi-dark;
          transition: all 0.2s ease 0s;
            &:hover {
              color: $clr-main-dark;
              font-weight: $fw-400;
            }
        }
      }
    }
  }
  .contact-links-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
    .wpp {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .wpp-title {
        display: flex;
        img {
          height: 24px;
        }
        h5 {
          padding-left: 4px;
          font-weight: $fw-300;
          font-size: 22px;
          line-height: 23px;
          letter-spacing: 0.13em;
          text-decoration: .5px underline black;
        }
      }
      .wpp-links {
        display: flex;
        flex-direction: column;
        a {
          font-weight: $fw-300;
          font-size: 18px;
          line-height: 25px;
          letter-spacing: 0.13em;
          color: $clr-main-semi-dark;
          transition: all 0.2s ease 0s;
            &:hover {
              color: $clr-main-dark;
              font-weight: $fw-400;
            }
        }
      }
    }
  }
}
// CONTACT RESPONSIVE
@media screen and (max-width: 1220px){
  .contact {
    .contact-title {
      h4 {
        font-size: 36px;
      }
    }
  }
}
@media screen and (max-width: 62em){
  .contact {
    .contact-title {
      height: 250px;
      text-align: center;
    }
    .contact-links-1 {
      .instagram {
        .instagram-title {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-top: 50px;
        }
        .instagram-links {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          a {
            transition: all 0.2s ease 0s;
            &:hover {
              color: $clr-main-dark;
              font-weight: $fw-400;
            }
          }
        }
      }
    }
    .twitter {
      .twitter-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .twitter-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        a {
          transition: all 0.2s ease 0s;
          &:hover {
            color: $clr-main-dark;
            font-weight: $fw-400;
          }
        }
      }
    }
    .contact-links-2 {
      .email {
        .email-title {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-top: 50px;
        }
        .email-links {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          a {
            transition: all 0.2s ease 0s;
            &:hover {
              color: $clr-main-dark;
              font-weight: $fw-400;
            }
          }
        }
      }
      .ubicacion {
        .ubicacion-title {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
        .ubicacion-links {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          a {
            transition: all 0.2s ease 0s;
            &:hover {
              color: $clr-main-dark;
              font-weight: $fw-400;
            }
          }
        }
      }
    }
    .contact-links-3 {
      .wpp {
        .wpp-title {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-top: 50px;
        }
        .wpp-links {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-bottom: 50px;
          a {
            transition: all 0.2s ease 0s;
            &:hover {
              color: $clr-main-dark;
              font-weight: $fw-400;
            }
          }
        }
      }
    }
  }
}