@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.html {
  scroll-behavior: smooth;
}

.body {
  background: url(../img/william-thomas-ny6tO4ItOEY-unsplash-min.jpg);
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-position: center center !important;
  z-index: auto;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
}

.bgcolor.scrolled {
  background-color: black;
}

.navbar_css {
  background-color: none;
}

.navbar {
  transition: all 0.4s ease 0s;
}

.navbar_container li a {
  margin-left: 50px;
  font-size: medium;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 0px;
  transition: all 0.2s ease 0s;
}
.navbar_container li a:hover {
  background-color: none;
  border: 2px solid white;
  border-radius: 0px;
}

.nav_logo {
  text-shadow: 0px 4px 4px rgb(0, 0, 0);
  font-family: "Inter", sans-serif;
}

#navbarSupportedContent {
  transition: all 0.2s ease 0s;
}

.index_header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.index_header h1 {
  text-align: center;
  font-family: "Inter", sans-serif;
  color: white;
  font-size: 1400%;
  font-weight: 700;
}
.index_header .index_header_button a {
  font-family: "Inter", sans-serif;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  font-size: x-large;
  border: 3px solid white;
  border-radius: 0px;
  transition: 0.2s ease;
}
.index_header .index_header_button a:hover {
  background-color: white;
  color: black;
}

.index_main {
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.index_main img {
  height: 250px;
  border-radius: 50%;
  border: 2px solid white;
}
.index_main .about_container {
  background-color: white;
  height: 250px;
  width: 90%;
  margin-top: 15px;
  border-radius: 5px;
}
.index_main .about_container .about_content {
  padding: 20px;
  font-family: "Inter", sans-serif;
  text-align: center;
}

.index_gallery {
  height: 500vh;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
.index_gallery .gallery_container {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px 20px 0 20px;
}
.index_gallery .gallery_container .heading {
  width: 50%;
  padding-bottom: 50px;
}
.index_gallery .gallery_container .heading h3 {
  font-family: "Inter", sans-serif;
  font-size: 3em;
  font-weight: bolder;
  padding-bottom: 10px;
  color: black;
  border-bottom: 3px solid rgb(0, 0, 0);
}
.index_gallery .gallery_container .heading h3 span {
  font-weight: 100;
  color: black;
}
.index_gallery .gallery_container .gallery_box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.index_gallery .gallery_container .gallery_box .dream {
  display: flex;
  flex-direction: column;
  width: 32.5%;
}
.index_gallery .gallery_container .gallery_box .dream img {
  width: 100%;
  padding-bottom: 15px;
  border-radius: 5px;
}
.index_gallery .gallery_container .btn {
  margin: 40px 0 70px 0;
  background: #222;
  padding: 15px 40px;
  border-radius: 5px;
}
.index_gallery .gallery_container .btn a {
  color: #fff;
  font-size: 1.2em;
  text-decoration: none;
  font-weight: bolder;
  letter-spacing: 3px;
}

.contact {
  height: 100vh;
}

.footer {
  height: 70vh;
  background-color: black;
}

@media only screen and (max-width: 769px) {
  .gallery_container .gallery_box {
    flex-direction: column;
  }
  .gallery_container .gallery_box .dream {
    width: 100%;
  }
}
@media only screen and (max-width: 643px) {
  .gallery_container .heading {
    width: 100%;
  }
  .gallery_container .heading h3 {
    font-size: 1em;
  }
}/*# sourceMappingURL=style.css.map */