@import "colors";
@import "fonts";
@import "transitions";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
.html{
    scroll-behavior: smooth;
}
// NAVBAR
.navbar_css{
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(6px);
    border-radius: 16px;
    margin: 15px;
}
.navbar{
    transition: $transition02;
}
.navbar_container{
    li {
        a {
            margin-left: 50px;
            font-size: large;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
            border-radius: 50px;
            transition: $transition02;
            &:hover{
                background-color: $main_color;
                border-radius: 50px;
                text-shadow: none;
            }
        }
    }
}
.nav_logo{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
#navbarSupportedContent{
    transition: $transition02;
}
// HEADER
.index_header{
    height: 100vh;
    background: url(../img/theregisti-HSXIp58yPyI-unsplash.jpg);
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-position: center center !important;
    z-index: auto;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    display: flex;
    align-items: center;
    h1 {
        position: absolute;
        color: white;
        margin-left: 20%;
        font-family: "Roboto", sans-serif;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
        font-size: 100px;
        top: 200px;
        top: 100px;
        right:15px;
        letter-spacing: 5px;
    }
    .header_card1{
        position: absolute;
        height: 450px;
        width: 350px;
        margin: 15px;
        background-color: rgba(255, 255, 255, 0.3);
        box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.3);
        border: 1px solid rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(2px);
        border-radius: 16px;
        img {
            margin-top: 10px;
            margin-bottom: 10px;
            height: 100px;
            border-radius: 100px;
            box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.3);
        }
        .divisor_line{
            height: 1px;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.5);

        }
        h4 {
            margin-top: 10px;
            color: rgb(255, 255, 255);
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
        }
        p {
            color: white;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
        }
        .card1_section{
            height: 150px;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.3);
            bottom: 0;
            position: absolute;
            border-radius: 0px 0px 16px 16px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .btn {
                margin: 10px;
                width: 160px;
                background-color: white;
                border-radius: 20px;
                transition: all 0.2s ease-in 0s;
                &:hover{
                    background-color: rgba(255, 255, 255, 0.3,);
                }
            }
        }
    }
    .social_media{
        height: 45px;
        width: 6%;
        background-color: rgba(255, 255, 255, 0.3);
        box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.3);
        border: 1px solid rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(2px);
        position: absolute;
        right: 15px;
        bottom: 15px;
        border-radius: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            height: 25px;
        }
    }
}
@media screen and (max-width:991px){
    .nav_logo{
        text-indent: 15px;
    }
    .navbar_container{
        width: 90px;
        li {
            a {
                text-indent: 15px;
                margin-left: 0px;
            }
        }
    }
    .index_header{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h1 {
            display: none;
            visibility: hidden;
        }
    }
}
