$clr-main-dark: hsl(0, 0%, 0%);
$clr-main-semi-dark: hsl(0, 0%, 38%);
$clr-main-light: hsl(0, 0%, 100%);

$clr-accent-dark: hsl(356, 83%, 41%);
$clr-accent-light: hsl(356, 79%, 54%);

$clr-transparent: rgba(0, 0, 0, 0)

