$h-100: 100vh;
$w-100: 100vw;


// ABOUT ME IMAGES
$h-am-d: 31.25em;
$h-am-t: 21.875em;
$h-am-m: 17.5em;

// MARGIN NAVBAR
$m-nv: 4.5em;
$m-nv-m: 3.4375em;

// GALLERY
$gallery: 79.125em; 
$card-s: 26.375em;
$g-img: 28em;